{
  "log": {
    "_recordingName": "fetch-secrets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-vault-token",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-vault-namespace",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vault-cluster-public-vault-edc6aa8d.0ce171e9.z1.hashicorp.cloud:8200/v1/auth/token/lookup-self"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 762,
            "text": "{\"request_id\":\"1a6e34a4-c89d-fc22-5d5a-be15b70dbdf9\",\"lease_id\":\"\",\"renewable\":false,\"lease_duration\":0,\"data\":{\"accessor\":\"Fw7QCPqudq0KAmuvzoiDw5BI.LcDKn\",\"creation_time\":1663086227,\"creation_ttl\":21600,\"display_name\":\"token-hcp-root\",\"entity_id\":\"1657472a-eab5-0b77-6ba6-87c62ce99c9d\",\"expire_time\":\"2022-09-13T22:23:47.93366862Z\",\"explicit_max_ttl\":0,\"id\":\"[REDACTED]\",\"issue_time\":\"2022-09-13T16:23:47.93367979Z\",\"meta\":null,\"namespace_path\":\"admin/\",\"num_uses\":0,\"orphan\":true,\"path\":\"auth/token/create/hcp-root\",\"policies\":[\"default\",\"hcp-root\"],\"renewable\":false,\"role\":\"hcp-root\",\"ttl\":14849,\"type\":\"service\"},\"wrap_info\":null,\"warnings\":null,\"auth\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vault-namespace",
              "value": "admin"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 634,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-vault-token",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-vault-namespace",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vault-cluster-public-vault-edc6aa8d.0ce171e9.z1.hashicorp.cloud:8200/v1/sys/internal/ui/mounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2684,
            "text": "{\"request_id\":\"fd838877-94ae-21fa-658a-f08651c27d8a\",\"lease_id\":\"\",\"renewable\":false,\"lease_duration\":0,\"data\":{\"auth\":{\"token/\":{\"accessor\":\"auth_ns_token_f4f92f25\",\"config\":{\"default_lease_ttl\":0,\"force_no_cache\":false,\"max_lease_ttl\":0,\"token_type\":\"default\"},\"description\":\"token based credentials\",\"external_entropy_access\":false,\"local\":false,\"options\":null,\"seal_wrap\":false,\"type\":\"ns_token\",\"uuid\":\"8edf91c7-60ff-54f0-95d0-d56fcec528f4\"},\"userpass2/\":{\"accessor\":\"auth_userpass_56296c70\",\"config\":{\"default_lease_ttl\":0,\"force_no_cache\":false,\"max_lease_ttl\":0,\"token_type\":\"default-service\"},\"description\":\"\",\"external_entropy_access\":false,\"local\":false,\"options\":{},\"seal_wrap\":false,\"type\":\"userpass\",\"uuid\":\"ed27beca-a2f8-8a4c-7150-bc2d0791c3ed\"},\"userpass3/\":{\"accessor\":\"auth_userpass_e9f1a4f6\",\"config\":{\"default_lease_ttl\":0,\"force_no_cache\":false,\"max_lease_ttl\":0,\"token_type\":\"default-service\"},\"description\":\"\",\"external_entropy_access\":false,\"local\":false,\"options\":{},\"seal_wrap\":false,\"type\":\"userpass\",\"uuid\":\"b09d482e-e0e3-09f7-8021-ee4f0bad037b\"}},\"secret\":{\"identity/\":{\"accessor\":\"ns_identity_466b933e\",\"config\":{\"default_lease_ttl\":0,\"force_no_cache\":false,\"max_lease_ttl\":0,\"passthrough_request_headers\":[\"Authorization\"]},\"description\":\"identity store\",\"external_entropy_access\":false,\"local\":false,\"options\":null,\"seal_wrap\":false,\"type\":\"ns_identity\",\"uuid\":\"b9c61e8f-739a-f85e-f875-b90bb96f9fbc\"},\"kv1/\":{\"accessor\":\"kv_0acf98c2\",\"config\":{\"default_lease_ttl\":0,\"force_no_cache\":false,\"max_lease_ttl\":0},\"description\":\"\",\"external_entropy_access\":false,\"local\":false,\"options\":{\"version\":\"1\"},\"seal_wrap\":false,\"type\":\"kv\",\"uuid\":\"0efc4791-c[...]
