{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-vault-token",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-vault-namespace",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vault-cluster-public-vault-edc6aa8d.0ce171e9.z1.hashicorp.cloud:8200/v1/auth/token/lookup-self"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 764,
            "text": "{\"request_id\":\"d8f1a95b-8849-9fb0-50ba-30cadfade5b9\",\"lease_id\":\"\",\"renewable\":false,\"lease_duration\":0,\"data\":{\"accessor\":\"4inxoMO2HmDKX0t1wZTpo52g.LcDKn\",\"creation_time\":1661192271,\"creation_ttl\":21600,\"display_name\":\"token-hcp-root\",\"entity_id\":\"1657472a-eab5-0b77-6ba6-87c62ce99c9d\",\"expire_time\":\"2022-08-23T00:17:51.895236882Z\",\"explicit_max_ttl\":0,\"id\":\"[REDACTED]\",\"issue_time\":\"2022-08-22T18:17:51.895245332Z\",\"meta\":null,\"namespace_path\":\"admin/\",\"num_uses\":0,\"orphan\":true,\"path\":\"auth/token/create/hcp-root\",\"policies\":[\"default\",\"hcp-root\"],\"renewable\":false,\"role\":\"hcp-root\",\"ttl\":16497,\"type\":\"service\"},\"wrap_info\":null,\"warnings\":null,\"auth\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vault-namespace",
              "value": "admin"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 689,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
